:root {
  --primary: #00a36d;
  --secondary: #c87a4d;
  --neutral: #2d3429;

  --element: red;
  --background: white;

  --text: black;
}

.dark {
  --primary: #00a36d;
  --secondary: #c87a4d;
  --background: black;

  --text: white;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-text: var(--text);
  --color-muted: var(--color-zinc-500);

  --shadow-brutal: 3px 3px var(--text);
}

@layer base {
  * {
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

@layer components {
  .brutal {
    border: 2px solid var(--text);
    box-shadow: 3px 3px var(--text);
  }
}
